{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": [
        "airbnb-base/legacy"
    ],
    "rules": {
        "linebreak-style": 0,
        "comma-dangle": [
            "error",
            {
                "imports": "never",
                "objects": "always",
                "arrays": "only-multiline",
                "functions": "only-multiline",
                "exports": "never"
            }
        ],
        "no-unused-vars": "off",
        "class-methods-use-this": "off",
        "operator-linebreak": "off",
        "no-param-reassign": "off",
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ]
    }
}